* {
    margin: 0px;
    margin-bottom: 3%;
    padding: 0px;
    font-family: 'Lora';
    background-color: #F8F0E5;
}

.logo {
    margin-top: 2vh;
    padding-top: 10px;
    font-size: large;
    text-align: center;
    word-spacing: 5%;
    letter-spacing: 5px;
    background-color: #F8F0E5;
    border: solid, 5px;
}

.logo,
a {
    text-decoration: none;
    color: #0F2C59;
}

.box {
    padding: 2px;
    margin-top: 12%;
    margin-left: 6%;
    position: relative;
    width: 87%;
    height: 350px;
    background-color: #EADBC8;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px 5px rgb(233, 203, 161); */
}

.boxi {
    width: 300px;
    height: 300px;
    background-color: #DAC0A3;
    box-shadow: 5px 5px 5px 5px #ac977b;
    border-radius: 14px;
    margin-left: 4%;
    margin-top: 3%;
    padding: 10px;
    float: left;
    position: relative;
}

img {
    margin-top: 3%;
    width: 95%;
    height: 95%;
    border-radius: 7px;
}

.box,
p {
    text-align: center;
}

.inf {
    margin-right: 5%;
    width: 700px;
    float: right;
    margin-top: 7%;
    text-align: left;
    color: #0F2C59;
    background-color: #EADBC8;
}

.box2 {
    padding: 2px;
    margin-top: 12%;
    margin-left: 6%;
    position: relative;
    width: 87%;
    height: 350px;
    background-color: #EADBC8;
    border-radius: 10px;
}

.imge2 {
    margin-top: 3%;
    margin-left: 2%;
    width: 95%;
    height: 95%;
    border-radius: 7px;
}

.boxi1 {
    width: 300px;
    height: 300px;
    background-color: #DAC0A3;
    box-shadow: 5px 5px 5px 5px #ac977b;
    border-radius: 14px;
    margin-right: 4%;
    margin-top: 3%;
    padding: 10px;
    float: right;
    position: relative;
}

.box,
p {
    text-align: center;
}

.inf1 {
    margin-left: 5%;
    width: 700px;
    float: left;
    margin-top: 7%;
    text-align: left;
    color: #0F2C59;
    background-color: #EADBC8;
    padding-bottom: 2vh;
}

.spacebar {
    height: 10vh;
}

.addre {
    margin-top: 5%;
    margin-left: 4%;
    text-align: left;
    float: left;
    top: 10%;
}

ul {
    list-style-type: none;
    float: left;
    margin-top: 6%;
    margin-left: 5%;
}